<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="AltSayfa.master.cs" Inherits="WebAsp.AltSayfa" %>

<asp:ContentPlaceHolder ID="head" runat="server">
</asp:ContentPlaceHolder>

<asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
</asp:ContentPlaceHolder>
    